.container 
	h1 Welcome to the Hacker hut!
	p This is how much you should pay for rent:

	table.table.table-hover.table-bordered
		thead
			th Name
			th Rent
			th(ng-repeat='(serviceName,service) in services') {{serviceName}}
		tbody
			tr(ng-repeat='person in roommates')
				td {{person.name}} 
				td(ng-class="{'bg-danger': !servicesPaid[person.name].rent, 'bg-success': servicesPaid[person.name].rent }") {{person.rent}}
				td(ng-class="{'bg-danger': !servicesPaid[person.name][serviceName], 'bg-success': servicesPaid[person.name][serviceName] }",ng-repeat='(serviceName, service) in services', ) {{service.unitPrice}}
			



	h4 Price per room

	h5(ng-repeat='room in rooms')
		{{room.size}} room - {{room.rent}}

