extends ../includes/layout

block main-content
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href='/') FarmCloud
					h6 -Programacion extremaa!!
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li
						a(href='/') Home
	section.content
	h1 test
		div(ng-view)
	h2=mongoMsg

	footer.container.text-center
		p &copy; 2014 Farm to the cloud