.navbar-right(ng-controller="mvNavbarCtrl")
	form.navbar-form(ng-hide="identity.isAuthenticated()")
		.form-group
			input.form-control(placeholder="Email",ng-model="username")
		.form-group
			input.form-control(type="password",placeholder='Password',ng-model="password")
		button.btn.btn-primary(ng-click="signin(username,password)") Log in	
	ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
		li.dropdown
			a.dropdown-toggle(href="",data-toggle='dropdown')
				// display user name
				{{identity.currentUser.firstName+" "+identity.currentUser.lastName}}
				b.caret
			ul.dropdown-menu
				li
					a(href="",ng-click="signout()") Sign Out