doctype 
html
	head
		title Hi! Meet Hurb.
		link(href="/favicon.ico",rel="shortcut icon",type="image/x-icon")
		link(rel="stylesheet",href='/vendor/bootstrap/dist/css/bootstrap.css')
		link(rel="stylesheet",href='/vendor/bootstrap/dist/css/bootstrap.css')
		link(rel="stylesheet",href='/vendor/font-awesome/css/font-awesome.min.css')
		link(rel="stylesheet",href='/vendor/toastr/toastr.css')
		link(rel="stylesheet",href='/css/site.css')
		// fonts
		link(href='http://fonts.googleapis.com/css?family=Oswald:400,300,700',rel='stylesheet',type='text/css')
		link(href='http://fonts.googleapis.com/css?family=EB+Garamond',rel='stylesheet',type='text/css')



	body(ng-app='app')
		// include currentUser
		block main-content
		include scripts