.container 
	.logo
		img.img-circle(src="images/hurbNew.png",width='170',alt='Hurb Logo')
	.row.centered
		// .col-lg8.col-lg-offset-2.w
		h1 Say Hi to Hurb
	.container
		.row.w.centered
			
			.col-lg-10.col-lg-offset-1
			p Hurb is a sleek hydroponic planter and your sophisticated life companion. If you lack a green thumb, have no fear. Hurb can take care of himself for the most part, but will let you know what he needs through his mood lighting and mobile app. You will appreciate his quick wit and friendly personality... not to mention, the six herbs he can grow will go well with a variety of cocktails.


.row.centered
	.col-lg-8.col-lg-offset-2.w.tooltip-demo
		img(src="images/comingsoon.png",width="250")

script(type="text/javascript",src="/app/main/assets.js")
