.container
	.jumbotron
		h1 Hurb 
		p Urban fresh greens with an actitude
		img(src='images/plantfroplaet.jpg')
	//	
		.row
			.col-md-6
				div(ng-include="'/partials/main/featured-courses'")
			.col-md-6
				div(ng-include="'/partials/main/something'")

h2 {{myVar}}