.container 
	// (ng-controller="mvMain")
	// .jumbotron
	img(src='images/stopmurder1.png')
	.row
		.col-md-6
			h4 Sign up for more information on how to help
			.hurb
				
			form
				.form-group
						input.form-control(type="email",placeholder='Email',ng-model="email")
				button.btn.btn-primary(ng-click="summit(email,'USA')") Submit
		.col-md-6
