.container 
	// (ng-controller="mvMain")
	// .jumbotron
	img(src='images/stopmurder1.png')
	p
	h4 Buying or consuming illegal drugs is equivalent to funding murder!
	h4 Inform your friends! Stop murder now!
	b Mexican drug cartels make up to $ 29 billion dolars annually from U.S. drug sales!
	.row
		.col-md-6
			br
			b Sign up for more information on how to help
			.hurb
				
			form
				.form-group
						input.form-control(type="email",placeholder='Email',ng-model="email")
				button.btn.btn-primary(ng-click="summit(email,'USA')") Submit
		.col-md-6

	a http://www.cnn.com/2013/09/02/world/americas/mexico-drug-war-fast-facts/
	br
	a http://www.excelsior.com.mx/opinion/martin-moreno/2014/07/29/973354
	br 
	a https://news.vice.com/article/legal-pot-in-the-us-is-crippling-mexican-cartels
	br
	a http://en.wikipedia.org/wiki/2014_Iguala_mass_kidnapping
	br
	a http://america.aljazeera.com/articles/2014/3/17/drug-traffickingasmallpartofmexicancartelsincome.html
	br
	a http://www.bbc.com/news/world-latin-america-29732720
	br
	a http://www.thedailybeast.com/articles/2014/10/29/mexico-s-first-lady-of-murder-is-on-the-lam.html

